<umbehki>
    <actions>
        <action name="VLC.stopped">
            <trigger name="Test.out" args="VLC was Stopped!"/>
            <trigger name="Test.out" args="VLC was really Stopped!"/>
        </action>
        
        <action name="Fritzbox.incomingCall">
            <trigger name="VLC.pause"/>
        </action>
        
    </actions>
</umbehki>
